/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

:root {
  background-color: lightgrey
}

main {
  padding: 35px;
  background-color: lightgrey
}

a {
  /* color: #00B7FF; */
  color: rgb(20, 193, 173);
}

.navbar-title-h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
